/* containers */
.hashedit-menu, .hashedit-toast, hashedit-drawer, .hashedit-config, .hashedit-modal,
.hashedit-menu *, .hashedit-toast *, hashedit-drawer *, .hashedit-config * , .hashedit-modal *{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hashedit-login */
.hashedit-login{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1003;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0 0 0 50px;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: auto;
	text-align: center;
}

	.hashedit-login a{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
		text-decoration: none;
	}

/* hashedit-drawer */
.hashedit-drawer{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1002;
	top: 50px;
	left: -275px;
	height: calc(100% - 50px);
	width: 250px;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #888;
	border-right: 1px solid #DDD;
	overflow-x: auto;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	transition: all 0.2s ease;
}

    .hashedit-drawer[visible]{
        left: 0;
    }

    .hashedit-drawer a{
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        color: #00ADE3;
        padding: 0 10px;
        display: block;
        font-size: 13px;

    }

    .hashedit-drawer ul{
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ddd;
    }

    .hashedit-drawer li{
        list-style: none;
        margin: 0;
        display: block;
        height: 40px;
        line-height: 40px;
        color: #aaa;
        cursor: pointer;
    }

    .hashedit-drawer li.hashedit-drawer-title{
        margin-top: 5px;
        height: 40px;
        line-height: 40px;
        color: #aaa;
        text-transform: uppercase;
        font-size: 12px;
        border-top: 1px solid #ddd;
    }

    .hashedit-drawer li.hashedit-drawer-title:first-child{
        border: none;
    }

    .hashedit-drawer .hashedit-drawer ul{
    }

    .hashedit-drawer li.hashedit-drawer-title span{
        display: inline-block;
        padding: 0 10px;
    }

    .hashedit-drawer li:hover, .hashedit-element-drawer li:hover{
		background-color: #f8f8f8;
	}

    .hashedit-drawer svg{
        fill: currentColor;
		height: 20px;
		display: inline-block;
		margin: 0 15px -4px 15px;
    }

/* hashedit-toast */
.hashedit-toast{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1002;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	margin: 0;
	text-align: center;
	padding: 0;
	color: #FFF;
	background-color: #345A6F;
	text-transform: uppercase;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	z-index: 100005;
	visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

  .hashedit-toast[success]{
    background-color: #88C425;
  }

  .hashedit-toast[failure]{
    background-color: #ED4747;
  }

  .hashedit-toast[active]{
	  visibility: visible;
	  opacity: 1;
  }

/* hashedit-menu */
.hashedit-menu{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1002;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0 0 0 50px;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-style: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
}

    .hashedit-menu::-webkit-scrollbar {
        display: none;
    }

    .hashedit-menu h1{
        height: 50px;
        line-height: 50px;
        margin-left: 15px;
        font-size: 16px;
        font-weight: bold;
        color: #888;
    }

	.hashedit-menu .hashedit-menu-body{
		width: 2000px;
		z-index: 1;
	}

	.hashedit-menu .hashedit-menu-logo{
		width: 30px;
		margin: 10px;
	}

	/* save */
	.hashedit-menu .hashedit-save, .hashedit-menu .hashedit-add{
		position: fixed;
		top: 0;
		right: 0;
		background-color: #fff;
		color: #888 !important;
		width: 50px;
		height: 49px;
		line-height: 50px;
		border: 0;
		outline: none;
		font-size: 20px;
		color: #fff;
		z-index: 2;
	}

	    .hashedit-menu .hashedit-save:hover, .hashedit-menu .hashedit-add:hover{
		    background-color: #98C33E;
            color: #fff !important;
            height: 50px;
	    }

		.hashedit-menu .hashedit-save svg, .hashedit-menu .hashedit-add svg{
			fill: currentColor;
			width: 60%;
			margin: 10px auto 0 auto;
		}

	/* menu */
	.hashedit-menu .hashedit-more{
		position: fixed;
		top: 0;
		left: 0;
		width: 50px;
		height: 49px;
		border: 0;
		outline: none;
		font-size: 20px;
		color: #888;
		z-index: 2;
		background-color: #fff;
	}

	    .hashedit-menu .hashedit-more:hover{
		    background-color: #00ADE3;
            color: #fff !important;
            height: 50px;
	    }

		.hashedit-menu .hashedit-more svg{
			fill: currentColor;
			width: 50% !important;
			margin: 5px auto 0 auto;
		}

	.hashedit-menu a{
		position: relative;
		float: left;
		cursor: pointer;
		width: 50px;
		height: 49px;
		color: #888;
		text-align: center;
		line-height: 50px;
		font-size: 13px;
		vertical-align: top;
        text-decoration: none;
	}

	    .hashedit-menu a:hover{
		    background-color: #00ADE3 !important;
            color: #fff !important;
            height: 50px;
	    }

		.hashedit-menu a svg{
			display: block;
			margin: 0 auto;
			width: 40%;
			fill: currentColor;
		}

/* modal */
body .hashedit-modal{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	box-sizing: border-box;
	position: fixed;
	left: 50%;
    top: 50%;
	z-index: 10001;
	width: 400px;
	background-color: #fff;
	margin: 5px;
	padding: 25px 25px 60px 25px;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: auto;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.85,0.85);
	transition: all 0.1s ease;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
}

    body .hashedit-modal a, body .hashedit-modal a:visited{
        color: #00ADE3
    }

    body .hashedit-modal[visible]{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1,1);
    }

    body .hashedit-modal label{
        font-weight: normal;
        display: block;
        margin: 0;
        padding: 0 0 5px 0;
        text-transform: uppercase;
        font-size: 13px;
    }

    body .hashedit-modal label a{
      float: right;
      font-size: 11px;
      cursor: pointer;
    }

    body .hashedit-modal input, body .hashedit-modal select{
        margin: 0 0 15px 0;
        padding: 10px;
        color: #555;
        box-sizing: border-box;
        width: 100%;
    }

    body .hashedit-modal input[type=submit]{
        background-color: #f0f0f0;
        font-size: 13px;
        padding: 15px 10px;
        text-transform: uppercase;
        border: 1px solid #ddd;
    }

     body .hashedit-modal select{
			font-size: 13px;
			box-shadow: none;
			outline: none;
			border: none;
			border: none;
			border-radius: 0;
			padding: 5px 5px 5px 15px;
            margin: 0 0 15px 0;
			height: 40px;
			min-width: 50px;
		    background-color: transparent;
		    -webkit-appearance: none;
			-webkit-border-radius: 0px;
			border: 1px solid #ddd;
			text-align: center;
		}

    body .hashedit-modal h2{
        font-size: 25px;
        color: #345A6F;
        margin: 0 0 25px 0;
        padding: 0;

    }

    body .hashedit-modal .actions{
        position: absolute;
        bottom: 25px;
        right: 25px;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    body .hashedit-modal .actions a{
        margin-left: 15px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;

    }

    body .hashedit-modal .actions a.primary{
        font-weight: bold;
    }

/* hashedit-card */
.hashedit-card{
  height: 500px;
}

  #hashedit-link-settings.hashedit-card{
    height: 550px;
  }

.hashedit-card-front,
.hashedit-card-back{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  margin: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.hashedit-card-front{
  background-color: #fff;
}

.hashedit-card-back{
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.hashedit-card[hashedit-card-flipped] .hashedit-card-front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.hashedit-card[hashedit-card-flipped] .hashedit-card-back{
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* fix a flip bug */
.hashedit-card .hashedit-card-back .hashedit-list{
  display: none;
}

.hashedit-card[hashedit-card-flipped] .hashedit-card-back .hashedit-list{
  display: block;
}

/* dropzone */
body .dropzone{
  min-height: inherit;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

body .dropzone .dz-message{
  text-transform: uppercase;
  font-size: 13px;
}

/* .hashedit-list */
.hashedit-list{
  margin: 25px 0;
  padding: 0;
  border: 1px solid #ddd;
}

  body .hashedit-modal .hashedit-list{
    max-height: 220px;
    overflow: auto;
  }

  .hashedit-card .hashedit-list{
    max-height: 355px;
  }

  .hashedit-list-item{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

    body .hashedit-modal .hashedit-list-item h2{
        font-size: 15px;
        font-weight: bold;
        color: #111;
        margin: 0 0 2px 0;
        padding: 0;
    }

    body .hashedit-modal .hashedit-list-item small{
        font-size: 11px;
        color: #888;
        text-transform: uppercase;
    }

    body .hashedit-modal .hashedit-list-item h2 span{
        font-size: 11px;
        font-weight: normal;
        color: #888;
        text-transform: uppercase;
        float: right;
    }

    body .hashedit-modal .hashedit-list-item p{
        font-size: 13px;
        font-weight: normal;
        color: #888;
        margin: 0 0 2px 0;
        padding: 0;
    }

    .hashedit-list-item label{
        display: block;
        margin: 0;
        padding: 0 0 5px 0;
        font-size: 13px;
        font-weight: normal;
        color: #aaa;
        min-width: 25%;
        text-transform: uppercase;
    }

  .hashedit-list-item:last-child{
    border-bottom: none;
  }

/* sign in */
body .hashedit-signin-or{
    display: block;
    padding: 10px 0;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
}

body a.hashedit-google-signin{
    display: block;
    padding: 15px 10px;
    background-color: #DC4E41;
    color: #fff !important;
    font-size: 14px;
    text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
}