.hashedit-container{
    z-index: 5000px;
}

[hashedit-sortable]{
	min-height: 50px;
}

[hashedit-sortable]:empty{
  background-color: red;
  min-height: 100px;
}

.hashedit-sortable{
	border-bottom: 0;
}

.hashedit-element{
	position: relative;
	border: 1px solid transparent;
}

.hashedit-element[current-hashedit-element]{
    background-color: rgba(255,153,0,0.05);
    border: 1px solid rgba(255,153,0,0.05);
}

.hashedit-element:hover{
    border: 1px solid rgba(255,153,0,0.25);
}

.hashedit-element [contentEditable=true]{
    min-height: 25px;
}

[hashedit] a, [hashedit] img{
  cursor: pointer;
}

/* edit icon */
.hashedit-edit{
	cursor: move;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 35px;
	height: 35px;
	z-index: 10000;
    background-color: rgba(1,1,1,0.05);
    border-radius: 50%;
}

    .hashedit-element:hover .hashedit-edit{
        background-color: rgba(255,153,0,0.75);
    }

    .hashedit-edit span{
		position: absolute;
		top: 7px;
		right: -1px;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 15px;
		transition: all 0.15s ease;
		color: #fff;
	}

	.hashedit-edit span svg{
		fill: currentColor;
		width: 50%;
		margin: 0 auto;
		opacity: 1;
		transition: all 0.25s ease;
	}

/* move icon */
.hashedit-move, .hashedit-properties, .hashedit-remove{
	cursor: move;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	visibility: hidden;
	z-index: 10000;
    transition: all 0.25s ease;
    opacity: 0;
}

  .hashedit-element[current-hashedit-element] .hashedit-move, .hashedit-element[current-hashedit-element] .hashedit-properties, .hashedit-element[current-hashedit-element] .hashedit-remove{
        visibility: visible;
        top: -40px;
        opacity: 1;
  }

    .hashedit-element[current-hashedit-element] .hashedit-edit{
        display: none;
    }


	.hashedit-move span, .hashedit-properties span, .hashedit-remove span{
		position: absolute;
		top: 0;
		right: -1px;
		background-color: rgba(255,153,0,0.75);
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 15px;
		transition: all 0.25s ease;
		color: #fff;
        border-radius: 50%;
	}

	.hashedit-move span svg, .hashedit-properties span svg, .hashedit-remove span svg{
		fill: currentColor;
		width: 50%;
		margin: 0 auto;
		opacity: 1;
		transition: all 0.25s ease;
	}

.hashedit-move:hover span, .hashedit-properties:hover span, .hashedit-remove:hover span{
	background-color: rgba(255,153,0,1);
}

.hashedit-move:hover span svg, .hashedit-properties:hover span svg, .hashedit-remove:hover span svg{
	opacity: 1;
}

/* properties icon */
.hashedit-element[current-hashedit-element] .hashedit-properties{
	right: 45px;
	cursor: pointer;
}

/* remove icon */
.hashedit-element[current-hashedit-element] .hashedit-remove{
	right: 85px;
	cursor: pointer;
}

/* highlight */
.hashedit-highlight{
	background-color: rgba(255,153,0,0.75);
    min-height: 50px;
    display: block;
}

	a.hashedit-highlight{
		color: #fff;
		display: block;
		cursor: pointer;
		height: 50px;
		line-height: 50px;
		text-align: center;
		margin: 10px 0;

	}

		a.hashedit-highlight svg{
			fill: currentColor;
			display: block;
			margin: auto;
			height: 30px;
		}

body [contentEditable=true]:focus{
	outline: none;
}

body [contentEditable=true] a{
	cursor: pointer;
}

/* config */
body .hashedit-config{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1003;
	top: -51px;
	left: 0;
	height: 50px;
	width: calc(100% - 100px);
	background-color: #fff;
	margin: 0 50px 0 50px;
	padding: 0;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: auto;
    overflow-y: hidden;
	transition: all 0.2s ease;
}

	body .hashedit-config .hashedit-context-body{
		width: 2000px;
	}

	body #hashedit-link-settings{
		z-index: 10004;
	}

	body #hashedit-image-settings{
		z-index: 10005;
	}


	body .hashedit-config[visible]{
		top: 0;
	}

	body .hashedit-config label{
		height: 50px;
		line-height: 50px;
		color: #555;
		font-size: 11px;
		text-transform: uppercase;
		border-right: 1px solid #ddd;
		padding: 0 10px;
		font-weight: normal;
		background-color: #DBE6EC;
	}

	body .hashedit-config a, body .hashedit-config label, body .hashedit-config input, body .hashedit-config select{
		float: left;
	}

	body .hashedit-config a{
		position: relative;
		float: left;
		cursor: pointer;
		width: 50px;
		height: 49px;
		color: #888;
		text-align: center;
		line-height: 50px;
		font-size: 13px;
		vertical-align: top;
	}

		body .hashedit-config a svg{
			display: block;
			margin: 0 auto;
			width: 40%;
			fill: currentColor;
		}

		body .hashedit-config input[type=text]{
			vertical-align: top;
			height: 50px;
			outline: none;
			line-height: 50px;
			border: 0;
			margin: 0;
			padding: 0 0 0 15px !important;
			background-color: transparent;
			max-width: 125px;
			color: #111;
		}

		body .hashedit-config input[type=color]{
			vertical-align: top;
			height: 50px;
			outline: none;
			line-height: 50px;
			border: 0;
			margin: 0 !important;
			padding: 10px !important;
			background-color: transparent;
			width: 50px;
		}


		body .hashedit-config select{
			font-size: 13px;
			box-shadow: none;
			background: none;
			outline: none;
			border: none;
			border: none;
			border-radius: 0;
			padding: 5px 5px 5px 15px;
			height: 50px;
			min-width: 50px;
		    background-color: transparent;
		    -webkit-appearance: none;
			-webkit-border-radius: 0px;
			text-align: center;
		}

	body .hashedit-config a:hover, body .hashedit-config a:hover{
		background-color: #f8f8f8;
	}

/* hashedit-list */
#pages-list{
    max-height: 400px;
}

#images-list{
    max-height: 310px;
}