/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* hashedit css */
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-top: 49px;
  background-color: #fff;
}

a, a:visited{
    color: #00ADE3;
}

body .hashedit-list{
    margin: 0;
}

    body .hashedit-list-item{
        position: relative;
    }

    body .hashedit-list-item.hashedit-has-image{
        padding-left: 80px;
        min-height: 50px;
    }

    body .hashedit-list-item[active]{
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .15);
    }

    body .hashedit-list-item h2{
        font-size: 15px;
        font-weight: bold;
        color: #111;
        margin: 0 0 2px 0;
        padding: 0;
    }

    body .hashedit-list-item small{
        display: block;
        margin: 10px 0 5px 0;
        font-size: 11px;
        color: #00ADE3;
        text-transform: uppercase;
    }

    body .hashedit-list-item h2 span.secondary{
        font-size: 11px;
        font-weight: normal;
        color: #888;
        text-transform: uppercase;
        float: right;
    }

    body .hashedit-list-item p{
        font-size: 13px;
        font-weight: 400;
        color: #aaa;
        margin: 0 0 2px 0;
        padding: 0;
        line-height: 18px;
    }

    body  .hashedit-list-item label{
        display: block;
        margin: 0;
        padding: 0 0 5px 0;
        font-size: 13px;
        font-weight: normal;
        color: #aaa;
        min-width: 25%;
        text-transform: uppercase;
    }

    body  .hashedit-list-item .image{
        position: absolute;
        top: 20px;
        left: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
    }

    body .hashedit-list-item[read=true]{
        background-color: #f8f8f8;
    }

    body .hashedit-list-item[read=true] h2, body .hashedit-list-item[read=true] h2 span, body .hashedit-list-item[read=true] small, body .hashedit-list-item[read=true] p{
        color: #aaa;
        font-weight: normal;
    }

    body .hashedit-list-item .hashedit-list-actions{
        display: block;
        text-align: right;
        visibility: hidden;
        height: 0;
        transition: all 0.2s ease;
    }

    body .hashedit-list-item .hashedit-list-actions a{
        text-transform: uppercase;
        font-size: 13px;
        display: inline-block;
        margin-left: 15px;
        text-decoration: none;
        padding-top: 10px;
    }

    body .hashedit-list-item .hashedit-list-actions a.primary{
        font-weight: bold;
    }

    body .hashedit-list-item[active] .hashedit-list-actions{
        visibility: visible;
        height: 15px;
    }

/* menu */
.hashedit-menu{
    background-color: #00ADE3;
    color: #fff;
    box-shadow: none;
    border: none;
}

    .hashedit-menu h1{
        color: #fff;
        font-weight: 300;
    }

    .hashedit-menu .hashedit-more, .hashedit-menu .hashedit-add{
		background-color: #00ADE3;
		color: #fff !important;
	}

	    .hashedit-menu .hashedit-more:hover, .hashedit-menu .hashedit-add:hover{
		    background-color: #00ADE3;
            color: #fff !important;
            height: 50px;
	    }