body[hashedit-active]{
	padding-top: 50px !important;
}

[hashedit-sortable]{
	min-height: 50px;
}

.hashedit-sortable{
	border-bottom: 0;
}

.hashedit-element{
	position: relative;
}

.hashedit-element [contentEditable=true]{
    min-height: 25px;
}

[hashedit] a, [hashedit] img{
  cursor: pointer;
}

.hashedit-move{
	cursor: move;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

	.hashedit-move span{
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(255,153,0,0.75);
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		transition: all 0.25s ease;
		color: #fff;
		border-radius: 50%;
	}
	
	.hashedit-move span svg{
		fill: currentColor;
		width: 50%;
		margin: 0 auto;
		opacity: 0;
		transition: all 0.25s ease;
	}

.hashedit-move:hover span{
	width: 35px;
	height: 35px;
	line-height: 35px;
	background-color: rgba(255,153,0,1);
}

.hashedit-move:hover span svg{
	opacity: 1;
}

.hashedit-highlight{
	background-color: rgba(255,153,0,0.75);
    min-height: 50px;
    display: block;
} 

	a.hashedit-highlight{
		color: #fff;
		display: block;
		cursor: pointer;
		height: 50px;
		line-height: 50px;
		text-align: center;
		margin: 10px 0;

	}
	
		a.hashedit-highlight svg{
			fill: currentColor;
			display: block;
			margin: auto;
			height: 30px;
		}

body [contentEditable=true]:focus{
	outline: none;
	background-color: rgba(240,240,240,.5);
}

body [contentEditable=true] a{
	cursor: pointer;
}

/* login */
.hashedit-login{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1003;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0 0 0 50px;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: scroll;
	text-align: center;
}

	.hashedit-login a{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
	}

/* drawer */
.hashedit-drawer{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1002;
	top: 50px;
	left: -250px;
	height: calc(100% - 50px);
	width: 250px;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #888;
	border-right: 1px solid #DDD;
	overflow-x: scroll;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	transition: all 0.2s ease;
}

    .hashedit-drawer[visible]{
        left: 0;
    }
    
    .hashedit-drawer a{
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.95em;
        color: #555;
    }
    
    .hashedit-drawer ul{
        margin: 0;
        padding: 0;
    }
    
    .hashedit-drawer li{
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #DDD;
        display: block;
        height: 50px;
        line-height: 50px;
        color: #aaa;
        cursor: pointer
    }
    
    .hashedit-drawer li:hover, .hashedit-element-drawer li:hover{
		background-color: #f8f8f8;
	}
    
    .hashedit-drawer svg{
        fill: currentColor;
		height: 20px;
		display: inline-block;
		margin: 0 15px -4px 15px;
    }

/* menu */
.hashedit-menu{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1002;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #fff;
	margin: 0;
	padding: 0 0 0 50px;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: scroll;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
}

	.hashedit-menu .hashedit-menu-body{
		width: 2000px;
		z-index: 1;
	}

	.hashedit-menu .hashedit-menu-logo{
		width: 30px;
		margin: 10px;
	}
	
	/* save */
	.hashedit-menu .hashedit-save{
		position: fixed;
		top: 0;
		right: 0;
		background-color: #88C425;
		color: #fff;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: 0;
		outline: none;
		font-size: 20px;
		color: #fff;
		z-index: 2;
	}
	
		.hashedit-menu .hashedit-save svg{
			fill: currentColor;
			width: 60%;
			margin: 10px auto 0 auto;
		}
	
	/* menu */
	.hashedit-menu .hashedit-more{
		position: fixed;
		top: 0;
		left: 0;
		background-color: #345A6F;
		color: #fff;
		width: 50px;
		height: 50px;
		border: 0;
		outline: none;
		font-size: 20px;
		color: #fff;
		z-index: 2;
	}
	
		.hashedit-menu .hashedit-more svg{
			fill: currentColor;
			width: 70% !important;
			margin: 8px auto 0 auto;
		}

	.hashedit-menu a{
		position: relative;
		float: left;
		cursor: pointer;
		width: 50px;
		height: 49px;
		color: #888;
		text-align: center;
		line-height: 50px;
		font-size: 13px;
		border-right: 1px solid #DDD;
		vertical-align: top;
        text-decoration: none;
	}
	
		.hashedit-menu a svg{
			display: block;
			margin: 0 auto;
			width: 40%;
			fill: currentColor;
		}
			
	.hashedit-menu a:hover, .hashedit-element-menu a:hover{
		background-color: #f8f8f8;
	}
	
/* aside */
body .hashedit-config{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	z-index: 1003;
	top: -51px;
	left: 0;
	height: 50px;
	width: calc(100% - 100px);
	background-color: #fff;
	margin: 0 50px 0 50px;
	padding: 0;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: scroll;
	transition: all 0.2s ease;
}

	body .hashedit-config .hashedit-context-body{
		width: 2000px;
	}
	
	body #hashedit-link-settings{
		z-index: 1004;
	}
	
	body #hashedit-image-settings{
		z-index: 1005;
	}


	body .hashedit-config[visible]{
		top: 0;
	}
	
	body .hashedit-config label{
		height: 50px;
		line-height: 50px;
		color: #555;
		font-size: 11px;
		text-transform: uppercase;
		border-right: 1px solid #ddd;
		padding: 0 10px;
		font-weight: normal;
		background-color: #DBE6EC;
	}
	
	body .hashedit-config a, body .hashedit-config label, body .hashedit-config input, body .hashedit-config select{
		float: left;
	}
	
	body .hashedit-config a{
		position: relative;
		float: left;
		cursor: pointer;
		width: 50px;
		height: 49px;
		color: #888;
		text-align: center;
		line-height: 50px;
		font-size: 13px;
		border-right: 1px solid #DDD;
		vertical-align: top;
	}
	
		body .hashedit-config a svg{
			display: block;
			margin: 0 auto;
			width: 40%;
			fill: currentColor;
		}
		
		body .hashedit-config input[type=text]{
			vertical-align: top;
			height: 50px;
			outline: none;
			line-height: 50px;
			border: 0;
			margin: 0;
			padding: 0 0 0 15px !important;
			border-right: 1px solid #ddd;
			background-color: transparent;
			max-width: 125px;
			color: #111;
		}
		
		body .hashedit-config input[type=color]{
			vertical-align: top;
			height: 50px;
			outline: none;
			line-height: 50px;
			border: 0;
			margin: 0 !important;
			padding: 10px !important;
			border-right: 1px solid #ddd;
			background-color: transparent;
			width: 50px;
		}

		
		body .hashedit-config select{
			font-size: 13px;
			box-shadow: none;
			background: none;
			outline: none;
			border: none;
			border: none;
			border-radius: 0;
			padding: 5px 5px 5px 15px;
			height: 50px;
			min-width: 50px;
		    background-color: transparent;
		    -webkit-appearance: none;
			-webkit-border-radius: 0px;
			border-right: 1px solid #ddd;
			text-align: center;
		}
	
	body .hashedit-config a:hover, body .hashedit-config a:hover{
		background-color: #f8f8f8;
	}
	
	
body .hashedit-modal{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	position: fixed;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	z-index: 1003;
	width: 400px;
	background-color: #fff;
	margin: 0;
	padding: 25px;
	color: #888;
	border-bottom: 1px solid #DDD;
	overflow-x: scroll;
	display: none;
	opacity: 0;
	transition: all 0.2s ease;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

    body .hashedit-modal[visible]{
        display: block;
        opacity: 1;
    }
    
    body .hashedit-modal label{
        font-weight: normal;
        display: block;
        margin: 0;
        padding: 0 0 5px 0;
        text-transform: uppercase;
        font-size: 13px;
    }
    
    body .hashedit-modal input{
        width: 350px;
        margin-bottom: 15px;
        padding: 10px;
        color: #555;
    }
    
    body .hashedit-modal h2{
        font-size: 25px;
        color: #345A6F;
        margin: 0 0 25px 0;
        padding: 0;
        
    }
    
    body .hashedit-modal .actions{
        margin: 10px 0 15px 0;
        padding: 0;
        text-align: right;
    }
    
    body .hashedit-modal .actions a{
        margin-left: 15px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
        
    }
    
    body .hashedit-modal .actions a.primary{
        font-weight: bold;    
    }

	

